*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', Helvetica, Arial;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
main{
    --max-width: 1450px;
    --padding: 1rem;
    background: linear-gradient(180deg, #0C141C 0%, rgba(8, 45, 79, 0.70) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
header{
    padding: 1rem 5rem;
}
#myLogo{
    width: 100px;
}


