*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', Helvetica, Arial;
    box-sizing: border-box;
    line-height: 1.8;
}
body{
    --max-width: 1450px;
    --padding: 1rem;
    background: linear-gradient(180deg, #0C141C 0%, rgba(8, 45, 79, 0.911) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: absolute;
    width: 100%;
}
main{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
}
header{
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#myLogo{
    width: 100px;
}
nav ul{
    display: flex;
    gap: 3rem;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
}
#links {
    cursor: pointer;
    transition: 200ms ease-in-out;
}
#links:hover{
    scale: 1.1;
}
.form-message{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 100;
    transition: 400ms ease-in-out;
    transform-origin: top right;

}
input[name="gmail"]{
    display: none;
}
input[name="gmail"]:checked ~ .form-message{
    scale: 0;
}
form > input,
form > textarea{
    display: block;
    width: 100%;
    resize: none;
    border: 1px solid;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f5f5f5;
}
form{
    width: 50%;
    background-color: #e4e4e4;
    padding: 3rem 3rem;
    border-radius: 2px;
}
#btn{
    border: none;
    padding: 1rem;
    border-radius: 2px;
    background-color: #ff2e00;
    color: 	#f5f5f5;
    cursor: pointer;
    transition: 200ms ease-in-out;
}
#btn:hover{
    background-color: #3d3d3d;
}

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}
.left-hero{
    width: 30%;
}
.left-hero h2{
    font-size: 2rem;
    font-weight: 600;
    color: #e4e4e4;
    
}
.right-hero{

}
.right-hero img{
    width: 30rem;
}
.btn{
    padding: 1rem;
    width: 12em;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid #000;
    background: #F0DB4F;
    box-shadow: 0px 0px 0px 1px #4151DA;
    margin-right: 1rem;
    transition: 250ms ease-in-out;
}
.btn:hover{
    box-shadow: 0px 6px 5px 1px #4151DA;
    background-color: #3d3d3d;
    color: #e4e4e4;
}
