*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', Helvetica, Arial;
    box-sizing: border-box;
    line-height: 1.8;
    letter-spacing: 2px;
}
html{
    overflow: hidden;
}
body{

    background: rgb(9,28,46);
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(9,28,46,1) 52%, rgb(0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
main{
    --max-width: 1450px;
    --padding: 1rem;
    width: min(var(--max-width), 100% - var(--padding) * 2);
    margin-inline: auto;

}

header{
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 250ms ease-in-out;
}
header.scrolled{
    background: #1a1a1a;
}
#myLogo{
    width: 100px;
    cursor: pointer;
    transition: 250ms ease-in-out;
}
#myLogo.shrink{
    width: 50px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 5px;
}
.nav-items{
    text-decoration: none;
    color: whitesmoke;
    padding: 1rem;
    font-size: clamp(.8rem, 1vw, 1rem);
    position: relative;
}
.nav-items::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("Images/highlight.png");
    background-repeat: no-repeat;
    background-size: 100% 2rem;
    transition: 300ms;
    left: 0;
    scale: 0 1;

}
.nav-items.active::before{
    scale: 1 1;
}
#links {
    cursor: pointer;
    transition: 200ms ease-in-out;
}
#links:hover{
    scale: 1.1;
}
.form-message{
    position: fixed;
    display: flex;
    top: 50%;
    left: 0;
    translate: 0 -50%;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 100;
    transition: 400ms ease-in-out;
    transform-origin: top right;

}
i[class="fa fa-times"]{
    display: flex;
    justify-content: end;
    padding-bottom: 1rem;
    cursor: pointer;
}
input[name="gmail"]{
    display: none;
}
input[name="gmail"]:checked ~ .form-message{
    scale: 0;
}
form > input,
form > textarea{
    display: block;
    width: 100%;
    resize: none;
    border: 1px solid;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f5f5f5;
}
form{
    width: clamp(20rem, 50vw, 50%);
    background-color: #e4e4e4;
    padding: 3rem 3rem;
    border-radius: 2px;
}
#btn{
    border: none;
    padding: 1rem;
    border-radius: 2px;
    background-color: #ff2e00;
    color: 	#f5f5f5;
    cursor: pointer;
    transition: 200ms ease-in-out;
}
#btn:hover{
    background-color: #3d3d3d;
}

.hero-section,
.story-section,
.skill-section,
.about-section,
.work-section,
.contact-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: 250ms ease-in-out;
}

.left-hero{
    margin-left: -20rem;
    opacity: 0;
    transition: 800ms ease-in-out;
}
.left-hero.left-slide{
    margin-left: 0;
    opacity: 1;
}
.left-hero h2{
    font-size: 2rem;
    font-weight: 600;
    color: #e4e4e4;
    width: 50%;
}
#designed-words{
    text-decoration: underline;
    color: #F0DB4F;
    animation: animateWords 3s alternate infinite;
}
@keyframes animateWords {
    from {color: #F0DB4F;}
    to {color: mediumseagreen;}
}
.right-hero{
    position: absolute;
    right: 0;
    top: 3rem;
    opacity: 0;
    transition: 800ms ease-in-out;
    width: 30%;
}
.moving-img{
    position: absolute;
    opacity: 0;
    transition: 4s ease-in-out;
}
.moving-img.showing{
    opacity: 1;
}
.right-hero.right-slide{
    right: 20rem;
    opacity: 1;
}

.buttons{
    padding-top: 2rem;
}
.btn{
    padding: 1rem;
    width: 12em;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid #000;
    background: #F0DB4F;
    box-shadow: 0px 0px 0px 1px #4151DA;
    margin-right: 1rem;
    transition: 250ms ease-in-out;
    color: #000;
    text-decoration: none;
}

.btn:hover{
    box-shadow: 0px 6px 5px 1px #4151DA;
    background-color: #3d3d3d;
    color: #e4e4e4;
}

@media all and (max-width: 995px){
    header{
        flex-direction: column;
    }
    .form-message{
        transform-origin: top;
    }
}

@media all and (max-width: 810px){

    nav ul{
        flex-direction: column;
        position: absolute;
        background: #3d3d3d67;
        backdrop-filter: blur(1rem);
        right: 0;
        top: 0;
        height: 100vh;
        align-items: start;
        justify-content: center;
        width: 0;
        transition: 500ms ease-in-out;
    }
}